body{font-size: 14px;background: #eaedf4;}
figure{margin:1em 40px}
legend{display:block;width:100%;padding:10px 0;margin-bottom:20px;font-size:16px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #EFEFEF;font-weight: bold;}
fieldset{padding:0;margin:0;border:0;min-width:0}

a{color: #3f87cc}
a:hover{color: #3484D0;}

.navbar{position: fixed;background-color: #3f87cc;top:0;right: 0;left: 0;height: 45px;color: #fff;z-index: 9;}
.navbar .logo{width: 120px;float: left;line-height: 45px;padding:0 10px;color: #fff;font-size: 16px;font-weight: normal;}
.navbar .menu{float: left;}
.navbar .menu li{display: inline-block;line-height: 45px;padding: 0 15px;position: relative;}
.navbar .menu li a{display: block;color: #fff;}
.navbar .menu li.active{background-color: #3c82c5;}
.navbar .menu li .child{position: absolute;top: 45px;left: 0;right: 0;text-align: center;background-color: #fff;border: 1px solid #ddd;border-top:none;box-shadow:0px 2px 4px rgba(0,0,0,.05);}
.navbar .menu li .child li{display: block;line-height: 32px;padding: 0;}
.navbar .menu li .child li a{color: #3f87cc;}
.navbar .menu li .child li a:hover{background-color: #F6FBFF;}
.navbar .user{position: absolute;right: 0;top: 0;list-style: none;padding: 0 10px;height: 45px;}
.navbar .user .user-name{margin-top: 11px;display: block;color:#fff;}
.navbar .user .user-role{display: inline-block;background: #fff;padding: 2px 4px;color: #3f87cc;margin-left: 3px;border-radius: 3px;}
.navbar .user .user-dropdown{position: absolute;top: 45px;width:310px;right: 10px;list-style: none;background: rgba(255, 255, 255, 0.95);border: 1px solid #ddd;box-shadow: 0 0 10px rgba(0,0,0,.1);}
.navbar .user .user-dropdown li{height: 35px;text-align: center;line-height: 35px;}
.navbar .user .user-dropdown li a{color: #666;}
.navbar .user .user-dropdown li:hover a,.navbar .user .user-dropdown li.active a{color: #3f87cc;}
.navbar .user .user-dropdown li:hover,.navbar .user .user-dropdown li.active{background-color: #F6FBFF;}
.navbar .user .user-dropdown .user-set{width: 100px;}
.navbar .user .user-dropdown .user-row{width: 208px;border-right: 1px solid #eee;padding:15px;color: #444;}
.navbar .user .user-dropdown .user-row label{font-size: 12px;}
.navbar .user .user-dropdown .user-row input.form-control{height: 30px;}
.navbar .user .user-dropdown .user-row .form-control{border-color: #dedede;}
.navbar .user .user-dropdown .user-row .form-control:focus{border-color: #bbb;}
.navbar .user .user-dropdown .user-row .btn{width: 100%;}
.navbar .user .user-dropdown .user-row .user-avatar{width: 80px;height: 80px;border-radius: 50%;background-color: #eaedf4;display: inline-block;}

/*左侧导航栏*/
.nav{position: fixed;left: 0;top: 45px;width: 90px;height: 100%;background-color: #232323;}
.nav .menu ul{list-style: none;}
.nav .menu li{position: relative;padding: 0 10px;}
.nav .menu li:hover,
.nav .menu li.active{background-color: #444;}
.nav .menu li .menu-item{display: block;font-size: 14px;color: #bbb;text-align: center;padding: 8px 0;}
.nav .menu li .menu-item .menu-name{display: block;}
.nav .menu li .menu-item i{font-size: 1.5em;color: #888;display: block;margin-bottom: 3px;}
.nav .menu li.active .menu-item,.nav .menu li.active .menu-item i{color: #fff;}

section{height: 100%;margin:70px 30px 20px 120px;background: #fff;padding: 20px;border-radius: 3px;}
section .toolbar{height: 39px;border-bottom: 2px solid #eaedf4;margin-left: 20px;margin-right: 20px;}
section .toolbar .config-title{font-weight: normal;font-size: 18px;line-height: 37px;color: #333;border-bottom: 2px solid #000;display: inline-block;}
section .sub-title{margin-bottom: 15px;}
section .sub-title ul{list-style: none;padding-top: 8px;}
section .sub-title ul li{display: inline-block;font-size: 15px;color: #666;}
section .sub-title ul li span{color: #888;margin-left: 6px;}
section .form-control{background-color: #eaedf4;border:none;-webkit-box-shadow: none!important;-moz-box-shadow: none!important;box-shadow: none!important;}
section .form-control:focus{background-color: #EFF2F9;}
section textarea.form-control{overflow-y: hidden;}
section .form-item {background-color: #fff;}
section .form-item .form-addon{width: 33.3333%;float: left;padding: 7px 0;line-height: 20px;min-height: 50px;border-radius: 2px;}
section .form-item .form-addon span{font-size: 12px;color: #999;display: block;height: 20px;}
section .form-item .form-addon p{color: #444;}
section .form-item:after {clear: both;}
section .form-item:before,section .form-item:after {content: " ";display: table;}
section .setting{width: 47%}


.table{width: 100%;text-align: center;margin-bottom: 15px;border-top:1px solid #ececec;border-bottom: 1px solid #EFEFEF;}
.table>tbody>tr>td,.table>tbody>tr>th,
.table>tfoot>tr>td,.table>tfoot>tr>th,
.table>thead>tr>td,.table>thead>tr>th{
	padding:8px;
	line-height:1.42857143;
	border-top: 1px solid #eaebf0;
	color: #555;
}
.table > thead > tr > th {
	font-weight: bold;
	vertical-align: bottom;
	color: #000;
	border-bottom: 2px solid #f4f4f4;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {border-top: 0;}

.form-group{margin-bottom:15px}
.text-muted{color: #999!important;}
.btn-primary,.btn-primary:focus{background-color: #68a8e4;color: #fff;}
.btn-primary:hover,.btn-primary:active{background-color: #3f87cc;color: #fff;}

.theme{margin-left: -10px;margin-right: -10px;list-style: none;}
.theme-item{position: relative;width: 243px;border: 1px solid #eaedf4;margin: 10px;display: block;}
.theme-item .thumb{position: relative;width: 100%;height: 200px;display: block;overflow: hidden;background-color: #eaedf4;}
.theme-item .thumb img{width: 100%;}
.theme-item .desc{padding: 10px;}
.theme-item .desc h3{font-weight: 300;font-size: 16px;color: #3f87cc}
.theme-item .desc p{font-size: 12px;color: #999;line-height: 1.777;}
.theme-item.active .thumb:before{font-family: "fontello";content: '\e814  已安装';position: absolute;top: 0;left: 0;right: 0;bottom:0;color: #fff;font-size: 14px;height: 200px;line-height: 200px;text-align: center;background-color:rgba(63, 135, 204, 0.85); }
