body{font-size: 14px;background: #eaedf4;}
figure{margin:1em 40px}
legend{display:block;width:100%;padding:10px 0;margin-bottom:20px;font-size:16px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #EFEFEF;font-weight: bold;}
fieldset{padding:0;margin:0;border:0;min-width:0}

a{color: #3E97EB}
a:hover{color: #3484D0;}

.navbar{position: fixed;background-color: #3E97EB;top:0;right: 0;left: 0;height: 45px;color: #fff;z-index: 9;}
.navbar .logo{width: 90px;float: left;line-height: 45px;padding:0 10px;color: #fff;font-size: 16px;font-weight: normal;}
.navbar .menu{float: left;}
.navbar .menu li{display: inline-block;line-height: 45px;padding: 0 15px;position: relative;}
.navbar .menu li a{display: block;color: #fff;}
.navbar .menu li.active{background-color: #3584CE;}
.navbar .menu li .child{position: absolute;top: 45px;left: 0;right: 0;text-align: center;background-color: #fff;border: 1px solid #ddd;border-top:none;box-shadow:0px 2px 4px rgba(0,0,0,.05);}
.navbar .menu li .child li{display: block;line-height: 32px;padding: 0;}
.navbar .menu li .child li a{color: #3E97EB;}
.navbar .menu li .child li a:hover{background-color: #EAEDF4;}

.nav{position: fixed;left: 0;top: 45px;width: 90px;height: 100%;background-color: #fff;}
.nav .menu ul{list-style: none;}
.nav .menu li{position: relative;padding: 0 10px;}
.nav .menu li:hover,
.nav .menu li.active{background-color: #eaedf4;}
.nav .menu li .menu-item{display: block;font-size: 14px;color: #505254;text-align: center;padding: 8px 0;}
.nav .menu li .menu-item .menu-name{display: block;}
.nav .menu li .menu-item i{font-size: 1.5em;color: #7C808A;display: block;margin-bottom: 3px;}
.nav .menu li.active .menu-item,.nav .menu li.active .menu-item i{color: #444;}

section{height: 100%;margin:70px 30px 20px 120px;background: #fff;padding: 20px;border-radius: 3px;}
section .toolbar{height: 39px;border-bottom: 1px solid #ddd;margin-left: 20px;margin-right: 20px;}
section .toolbar .config-title{font-weight: normal;font-size: 18px;line-height: 39px;color: #333;}
section .sub-title{margin-bottom: 15px;}
section .sub-title ul{list-style: none;padding-top: 8px;}
section .sub-title ul li{display: inline-block;font-size: 15px;color: #666;}
section .sub-title ul li span{color: #888;margin-left: 6px;}
section .form-control{background-color: #eaedf4;border:none;-webkit-box-shadow: none!important;-moz-box-shadow: none!important;box-shadow: none!important;}
section .form-control:focus{background-color: #EFF2F9;}
section textarea.form-control{overflow-y: hidden;}
section .form-item {background-color: #fff;}
section .form-item .form-addon{width: 33.3333%;float: left;padding: 7px 0;line-height: 20px;min-height: 50px;border-radius: 2px;}
section .form-item .form-addon span{font-size: 12px;color: #999;display: block;height: 20px;}
section .form-item .form-addon p{color: #444;}
section .form-item:after {clear: both;}
section .form-item:before,section .form-item:after {content: " ";display: table;}
section .setting{width: 47%}


.table{width: 100%;text-align: center;margin-bottom: 15px;border-top:1px solid #ececec;border-bottom: 1px solid #EFEFEF;}
.table>tbody>tr>td,.table>tbody>tr>th,
.table>tfoot>tr>td,.table>tfoot>tr>th,
.table>thead>tr>td,.table>thead>tr>th{
	padding:8px;
	line-height:1.42857143;
	border-top: 1px solid #eaebf0;
	color: #555;
}
.table > thead > tr > th {
	font-weight: bold;
	vertical-align: bottom;
	color: #000;
	border-bottom: 2px solid #f4f4f4;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.form-group{margin-bottom:15px}
.text-muted{color: #999!important;}
.btn-primary{background-color: #3E97EB;color: #fff;}
.btn-primary:hover{background-color: #50AAFF;color: #fff;}

.theme{margin-left: -10px;margin-right: -10px;list-style: none;}
.theme-item{position: relative;width: 243px;border: 1px solid #ECECEC;margin: 10px;padding: 10px;display: block;}
.theme-item .thumb{position: relative;width: 100%;height: 200px;display: block;overflow: hidden;margin-bottom: 10px;background-color: #eaedf4;}
.theme-item .thumb img{width: 100%;}
.theme-item h3{font-weight: 300;font-size: 16px;color: #3E97EB}
.theme-item p{font-size: 12px;color: #999;line-height: 1.777;}
.theme-item:before{content: " ";position: absolute;height:1px;bottom: -3px;left: 2px;right: 2px;border-bottom: 1px solid #ededed;}
.theme-item.active .thumb:before{font-family: "fontello";content: '\e814  已安装';position: absolute;top: 0;left: 0;right: 0;bottom:0;color: #fff;font-size: 14px;height: 200px;line-height: 200px;text-align: center;background-color:rgba(62, 151, 235, 0.88); }
