@charset "utf-8";

body{font-size: 14px;background-color: #f2f4f8;}
a{color: #3B93FF;}
a:hover{color: #2688EA;}
/*::selection{background:#8592fc;color:#fff;}
::-moz-selection{background:#8592fc;color:#fff;}
::-webkit-selection{background:#8592fc;color:#fff;}*/
legend{display:block;width:100%;margin-bottom:20px;font-size:14px;line-height:inherit;border:0;border-bottom:1px solid #15182d;font-weight: bold;}

.content-page{padding-left: 220px;height: 100%;}
.content-page h2{color: #23282d;font-size: 18px;font-weight: 400;}
.content-page .page{padding-top: 50px;}
.header{position: fixed;top: 0;left: 0;right: 0;height:50px;background:#fff;box-shadow:0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);color:#788288}
.header .logo{width: 220px;height: 50px;line-height: 50px;padding: 0 20px;font-size: 15px;font-weight: normal;}
.header .logo  a{color: #222;}
.header .menu-btn{height:48px;background:transparent;font-size:18px;text-align:center;border:none;padding: 0 15px;}
.header .menu-btn:focus{outline:0}

.nav{position:fixed;top:0;left:0;bottom:0;width:220px;background:#293C4D;padding-top: 50px;}
.nav .admin-info{padding: 15px 20px;}
.nav .admin-info .admin-name{color:rgba(255,255,255,.7);line-height: 1.7777}
.nav .admin-info .admin-name a{color:rgba(255,255,255,.5);font-size:12px;margin-right: 5px;}
.nav .admin-info .admin-name a:hover{color: #fff;}
.nav .menu{list-style:none}
.nav .menu>.menu-item{display:block}
.nav .menu>.menu-item:hover{background:#253646}
.nav .menu>.menu-item>a{display:block;padding:12px 20px;color:rgba(255,255,255,.5);font-size:12px}
.nav .menu>.menu-item>a>i{width:25px;font-size:14px;display:inline-block}
.nav .menu>.menu-item .menu-item-child{margin-left:43px;color:rgba(255,255,255,.5);}
.nav .menu>.menu-item:not(.menu-active) .menu-item-child{display: none;}
.nav .menu>.menu-item .menu-item-child>li>a{display:block;padding:12px 5px;color:rgba(255,255,255,.5);font-size:12px}
.nav .title{padding:15px 0 0;color:rgba(255,255,255,.5);font-size:11px;text-transform:uppercase;display:block;border-top:1px solid rgba(255,255,255,.05);margin:10px 20px;margin-top:0}
.nav .menu .menu-active{background:#253646}
.nav .menu .menu-active>a{color:#f6f6f6!important}

.panel{font-size:14px;background:#fff;margin-bottom:20px;border:1px solid #eaeef1;border-bottom-width:2px;border-radius:2px;}
.panel>.panel-heading{padding:10px 15px;background-color:#f9fafc;border-bottom:1px solid #eaeef1}
.panel>.panel-heading>h3{color:#3c4144;display:inline;font-weight:700;font-size:14px}
.panel>.panel-body{padding:15px;color:#555}
.panel>.table{margin-bottom:0;border:none;border-top:1px solid #eee;border-bottom:1px solid #eaeaea}
.panel>.table>thead>tr>th{background-color:#f9fafc;border:1px solid #eaeef1}
.panel>.table>thead>tr>th:last-child{border-right:none}
.panel>.table>thead>tr>th:first-child{border-left:none}
.panel>.table>tbody>tr:nth-child(odd)>td,.panel>.table>tbody>tr:nth-child(odd)>th{background-color:#f9fafc}
.panel>.table>tbody>tr>td,.panel>.table>tbody>tr>th,.panel>.table>thead>tr>th{padding:8px 15px;border-top:1px solid #eaeef1;text-align:left}
.panel:hover{border-color: #ddd;}

.info-list ul{list-style: none;}
.info-list ul > li{padding: 10px 15px;border-bottom: 1px solid #eaeef1;font-size: 14px;}
.info-list ul > li .cate{font-size: 12px;color: #999;}
.info-list ul > li:last-child{border-bottom: none;}

.options .search .title{font-weight: normal;font-size: 14px;padding-top: 5px;}
.options .search .title span{color: #999;margin-left:5px; }
.options .search .form-control{padding: 3px 10px;}
.options .search .btn{padding: 3px 10px;}

.magic-radio + label:before, .magic-checkbox + label:before{background-color: #15182d;border-color: #353A65;}
.magic-radio+label:after{background:#7570f2}
.magic-radio:checked+label:before{border:1px solid #7570f2}
.magic-checkbox:checked+label:before{border:#7570f2;background:#7570f2}

#tip{position: fixed;top: 0;left: 50%;right: 50%;width: 180px;height: 30px;line-height:30px;background-color: #000;margin-left: -90px;margin-right: -90px;border-radius: 0 0 5px 5px;color: #3c763d;border:1px solid #d6e9c6;background-color: #dff0d8;text-align: center;-webkit-animation-duration: .5s;animation-duration: .5s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
#tip.slideIn{-webkit-animation-name: slideIn;animation-name: slideIn;}
#tip.slideOut{-webkit-animation-name: slideOut;animation-name: slideOut;}

.hideNav .content-page{padding-left: 80px;}
.hideNav .nav,.hideNav .header .logo{width: 80px;}
.hideNav .nav .menu .menu-item>a{padding:12px 0}
.hideNav .nav .menu .menu-item>a>i{font-size:20px;width:100%;text-align:center}
.hideNav .nav .admin-info,.hideNav .nav .title,
.hideNav .nav .menu .menu-item > a > span,
.hideNav .nav .menu .menu-item > a > i.fr,
.hideNav .nav .menu>.menu-item .menu-item-child{
  display: none;
}

@keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }

  to {
    border-color: #8E89FD;
  }
}
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -45px, 0);
    transform: translate3d(0, -45px, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -45px, 0);
    transform: translate3d(0, -45px, 0);
    visibility: visible;
  }
}