/*字体图标*/
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?46904980');
	src: url('../fonts/fontello.eot?46904980#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff?46904980') format('woff'),
		url('../fonts/fontello.ttf?46904980') format('truetype'),
		url('../fonts/fontello.svg?46904980#fontello') format('svg');
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-left: .2em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-emo-happy:before { content: '\e800'; }
.icon-th:before { content: '\e801'; }
.icon-th-list:before { content: '\e802'; }
.icon-th-large:before { content: '\e803'; }
.icon-attention:before { content: '\e804'; }
.icon-camera:before { content: '\e805'; }
.icon-picture:before { content: '\e806'; }
.icon-videocam:before { content: '\e807'; }
.icon-attention-circled:before { content: '\e808'; }
.icon-user:before { content: '\e809'; }
.icon-star:before { content: '\e80a'; }
.icon-star-empty:before { content: '\e80b'; }
.icon-heart-empty:before { content: '\e80c'; }
.icon-heart:before { content: '\e80d'; }
.icon-mail:before { content: '\e80e'; }
.icon-search:before { content: '\e80f'; }
.icon-music:before { content: '\e810'; }
.icon-plus-circled:before { content: '\e811'; }
.icon-minus-circled:before { content: '\e812'; }
.icon-help-circled:before { content: '\e813'; }
.icon-info-circled:before { content: '\e814'; }
.icon-lock:before { content: '\e815'; }
.icon-ok:before { content: '\e816'; }
.icon-ok-1:before { content: '\e817'; }
.icon-thumbs-up:before { content: '\e818'; }
.icon-thumbs-down:before { content: '\e819'; }
.icon-credit-card:before { content: '\e81a'; }
.icon-cog:before { content: '\e81c'; }
.icon-basket:before { content: '\e81e'; }
.icon-calendar:before { content: '\e81f'; }
.icon-ellipsis-vert:before { content: '\f142'; }
.icon-arrows-cw:before { content: '\e821'; }
.icon-inbox:before { content: '\e822'; }
.icon-globe:before { content: '\e823'; }
.icon-down-dir:before { content: '\e828'; }
.icon-up-dir:before { content: '\e829'; }
.icon-left-dir:before { content: '\e82a'; }
.icon-right-dir:before { content: '\e82b'; }
.icon-left-big:before { content: '\e82c'; }
.icon-right-big:before { content: '\e82d'; }
.icon-cloud:before { content: '\e82e'; }
.icon-spin4:before { content: '\e834'; }
.icon-bookmark-empty:before { content: '\f097'; }
.icon-menu:before { content: '\f0c9'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-download-cloud:before { content: '\f0ed'; }
.icon-upload-cloud:before { content: '\f0ee'; }
.icon-coffee:before { content: '\f0f4'; }
.icon-doc-text:before { content: '\f0f6'; }
.icon-angle-double-down:before { content: '\f103'; }
.icon-angle-left:before { content: '\f104'; }
.icon-angle-right:before { content: '\f105'; }
.icon-angle-up:before { content: '\f106'; }
.icon-angle-down:before { content: '\f107'; }
.icon-mobile:before { content: '\f10b'; }
.icon-quote-left:before { content: '\f10d'; }
.icon-quote-right:before { content: '\f10e'; }
.icon-info:before { content: '\f129'; }
.icon-shield:before { content: '\f132'; }
.icon-calendar-empty:before { content: '\f133'; }
.icon-qrcode:before { content: '\e81d'; }
.icon-thumbs-up-alt:before { content: '\f164'; }
.icon-thumbs-down-alt:before { content: '\f165'; }
.icon-weibo:before { content: '\f18a'; }
.icon-cube:before { content: '\f1b2'; }
.icon-pencil:before { content: '\e81b'; }
.icon-file-pdf:before { content: '\f1c1'; }
.icon-file-word:before { content: '\f1c2'; }
.icon-file-excel:before { content: '\f1c3'; }
.icon-file-powerpoint:before { content: '\f1c4'; }
.icon-file-image:before { content: '\f1c5'; }
.icon-file-archive:before { content: '\f1c6'; }
.icon-git:before { content: '\f1d3'; }
.icon-wechat:before { content: '\f1d7'; }
.icon-plug:before { content: '\f1e6'; }
.icon-at:before { content: '\f1fa'; }