html,body{
  height: 100%;
  background: #99b9f2;
}

.account-wrap{
  position: relative;
  padding-left: 600px;
  height: 100%;
  background-image: url(../../../public/@src/img/default/sign-bg.png);
  background-repeat: no-repeat;
  background-position: 70% bottom;
  background-size: 450px 328px;
}

.account-wrap .account-box{
  width: 600px;
  float: left;
  margin-left: -600px;
  background-color: #fff;
  height: 100%;
  min-height: 500px;
}

.account-wrap .account-box .account-form{
  position: relative;
  padding: 30px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.account-wrap .auth-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding: 30px 30px 0;
}

.account-wrap .auth-nav .auth-link{
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
    font-size: 14px;
}

.account-wrap .auth-link a{
    text-decoration: none;
}

.signForm-wrapper{
	position: relative;
    width: 65%;
    margin: auto;
}

.signForm-wrapper .message-box{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 105%;
}

.captcha{
	padding: 0!important;
	background-color: #dfe2e7;
}

.forget-password{position:absolute;right:0}
.forget-password a{text-decoration:none}

.ui.checkbox label, .ui.checkbox+label{
    font-size: 14px;
}