.simditor .simditor-wrapper {
  position: relative;
  padding-bottom: 40px;
}
.simditor .simditor-wrapper > textarea {
  display: none !important;
  width: 100%;
  box-sizing: border-box;
  font-family: monaco;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  padding: 10px;
  min-height: 80px;
  outline: none;
  background: transparent;
  resize: none;
}
.simditor .simditor-wrapper .simditor-placeholder {
  display: none;
}
.simditor .simditor-body {
  padding: 10px;
  min-height: 80px;
  outline: none;
  cursor: text;
  position: relative;
  z-index: 1;
  background: transparent;
  border: 1px solid #e3e5e8;
  border-radius: 4px;
  background-color: #fff;
}
.simditor .simditor-body a.selected {
  background: #b3d4fd;
}
.simditor .simditor-body a.simditor-mention {
  cursor: pointer;
}
.simditor .simditor-body > :first-child, .editor-style > :first-child {
  margin-top: 0 !important;
}

.simditor .simditor-body p {
    font-size: 14px;
}
.simditor .simditor-paste-bin {
  position: absolute;
  width: 1px;
  height: 20px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-user-select: text;
}
.simditor .simditor-toolbar {
  position: absolute;
  bottom: 0;
  background: transparent;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}
.simditor .simditor-toolbar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.simditor .simditor-toolbar > ul > li {
  position: relative;
  display: inline-block;
  font-size: 0;
}
.simditor .simditor-toolbar > ul > li > span.separator {
  display: inline-block;
  background: #cfcfcf;
  width: 1px;
  height: 18px;
  margin: 11px 15px;
  vertical-align: middle;
}
.simditor .simditor-toolbar > ul > li > .toolbar-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  outline: none;
  color: #333333;
  font-size: 15px;
  line-height: 36px;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  font-weight: normal!important;
}
.simditor .simditor-toolbar > ul > li > .toolbar-item span {
  opacity: 0.6;
}
.simditor .simditor-toolbar > ul > li > .toolbar-item span.simditor-icon {
  display: inline;
  line-height: normal;
}
.simditor .simditor-toolbar > ul > li > .toolbar-item:hover span {
  opacity: 1;
}
.simditor .simditor-toolbar > ul > li > .toolbar-item.active {
  background: #eeeeee;
}
.simditor .simditor-toolbar > ul > li > .toolbar-item.active span {
  opacity: 1;
}

.simditor .simditor-toolbar > ul > li.menu-on .toolbar-menu {
  display: block;
}
.simditor .simditor-toolbar .toolbar-menu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 21;
  background: #ffffff;
  text-align: left;
  box-shadow: 0px 3px 10px 0 rgb(185 185 185 / 54%);
}
.simditor .simditor-toolbar .toolbar-menu ul {
  min-width: 160px;
  list-style: none;
  margin: 0;
  padding: 10px 1px;
}
.simditor .simditor-toolbar .toolbar-menu ul > li .menu-item {
  display: block;
  font-size: 16px;
  line-height: 2em;
  padding: 0 10px;
  text-decoration: none;
  color: #666666;
}
.simditor .simditor-toolbar .toolbar-menu ul > li .menu-item:hover {
  background: #f6f6f6;
}

.simditor .simditor-body a, .editor-style a {
  color: #0453e5;
  text-decoration: none;
  word-break: break-all;
}
.simditor .simditor-body a:visited, .editor-style a:visited {
  color: #0453e5;
}
.simditor .simditor-body a:hover, .editor-style a:hover {
  color: #367cff;
}
.simditor .simditor-body a:active, .editor-style a:active {
  color: #9E792E;
}
.simditor .simditor-body a:hover, .simditor .simditor-body a:active, .editor-style a:hover, .editor-style a:active {
  outline: 0;
}